.Todo {
    min-height: 30px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    color: #ddd;
    line-height: 30px;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: -webkit-grab;
    cursor: grab;

    .text {
        vertical-align: middle;
    }
}

$depth-size: 30px;

.Todo.depth-1 { }

.Todo.depth-2 {
    margin-left: $depth-size;
}

.Todo.depth-3 {
    margin-left: calc(#{$depth-size} * 2);
}